*{box-sizing: border-box;}
$bg-color:#EAE3DA;
$textcolor:#422A19;
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&display=swap);
.header__top{
    
    background-color: #EAE3DA;
    .navbar-brand img{
        width: 100px;
    }
    .nav-item{
        padding: 0 30px 0 30px;
    }
    .nav-link{
        text-decoration: none;
        color: #422A19;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
}
.header__banner{
    .header__banner--img img{
        width: 100%;
    }
}

.section-1{
    .section-1__title{
        font-family: 'Cormorant Garamond', serif;;
    }
    padding-top: 30px;
    .product__img{
        width: 100%;
    }
    .product__title{
        color:$textcolor ;
    }
    .product__subtitle{
        justify-content: space-between;
    }
    .product__img{
        width: 100%;
    }
    .product__subtitle--style-1{
        text-decoration: line-through;
    }
}