*{box-sizing: border-box;}
$bg-color:#EAE3DA;
$textcolor:#422A19;
$font-family:'Cormorant Garamond', serif;
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500&display=swap);
.header__top{
    
    background-color: #EAE3DA;
    .navbar-brand img{
        width: 100px;
    }
    .nav-item{
        padding: 0 30px 0 30px;
    }
    .nav-link{
        text-decoration: none;
        color: #422A19;
        font-family: 'Cormorant Garamond', serif;
        font-size: 16px;
        font-weight: bold;
    }
    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      
      .dropdown-menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-menu a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-menu {
        display: block;
      }
}
.header__banner{
    .header__banner--img img{
        width: 100%;
    }
}

.section-1{
    padding-top: 30px;
    position: relative;
    width: 100%;
    .section-1__title{
        font-family: 'Cormorant Garamond', serif;
    }
    .product__title{
        color:$textcolor ;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
        justify-content: space-between;
    }
    .product__subtitle{
        justify-content: space-between;
        font-family: $font-family;
        font-size: 20px;
    }
    .product__img{
        width: 100%;
        height: 500px;
    }
    .product__img-2{
       position: absolute;
       top: 0;
       left: 0;
       transition: 0.2s;
       opacity: 0;
    }
    .product__img-2:hover{
       opacity: 1;
       width: 350px;
       top:0;
       left: 0;
    }
}

.section-2{
    width: 100%;
    height: 400px;
    background-color: $bg-color;
    color: $textcolor;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
    .section-2__subtitle{
        width: 900px;
        font-weight: 500;
        font-size: 20px;
    }
    .section-2__button{
        font-weight: 500;
    }
    .section-2__button:hover{
        color: white;
    }
}

.section-3{
    width: 100%;
    height: 300px;
    .section-3__icon{
        font-size: 50px;
        color: $textcolor;
        margin-top: 30px;
    }
    .section-3__title{
        font-family: $font-family;
        color: $textcolor;
        font-size: 21px;
        font-weight: bold;
    }
    .section-3__subtitle{
        font-family: $font-family;
        color: $textcolor;
        font-size: 14px;
    }
}

.section-4{
    height: 100px;
    margin-bottom: 60px;
    .section-4__logo img{
        width: 200px;
        margin-top: 30px;
    }
    .section-4__form{
        margin-top: 40px;
    }
}

.footer{
    background-color: $bg-color;
    height: 200px;
    padding-top: 50px;
    text-decoration: none;
    .footer__title a{
        color: $textcolor;
        text-decoration: none;
    }
    .footer__icon a{
        color: $textcolor;
        text-decoration: none;
        font-size: 20px;
    }
}