*{box-sizing: border-box;}
.header__top{
    height: 100px;
    background-color: rgb(146, 146, 146);
    .navbar-brand img{
        width: 90px;
    }
    .nav-item{
        padding: 0 30px 0 30px;
    }
    .nav-link{
        text-decoration: none;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
}
.header__banner{
    .header__banner--img img{
        width: 100%;
    }
}

.section-1{
    padding-top: 30px;
    .product__img{
        width: 100%;
    }
    .product__subtitle{
        justify-content: space-between;
    }
}